@media(max-width: 1440px){
    .container {
        width: 90%;
    }
}
@media(max-width: 1200px){}
@media(max-width: 1024px){
    .hero {
        justify-content: center;
        flex-direction: column;
    }
    .hero div {
        padding-bottom: 40px;
    }

    .dsi {
        justify-content: center;
        flex-direction: column;
    }
    .product-block {
        width: 270px;
    }
}
@media(max-width: 992px){

}
@media(max-width: 768px){
    .navbar nav  {
        display: none;
    }
    .navbar-icon {
        display: none;
    }
    .product {
        justify-content: center;
        flex-direction: column;
    }
    .product-block {
        padding-bottom: 40px;
        width: 90%;
    }
}
@media(max-width: 576px){
    .desc {
        align-items: start;
        width: 90%;
        justify-content: center;
        flex-direction: column;
    }
    .desc-block {
        padding-bottom: 30px;
    }
    .hero div img {
        width: 90%;
    }
    .hero-title h1 {
        font-size: 30px;
    }
    .dsi img {
        width: 90%;
    }
}
@media(max-width: 451px){
    .hero-title h1 {
        font-size: 20px;
        text-align: center;
    }
}
@media(max-width: 400px){

}
@media(max-width: 375px){
    .hero-title p {
        font-size: 18px;
        text-align: center;
    }
    .dsi div h1 {
        font-size: 20px;
    }
    .dsi div p {
        font-size: 14px;
    }
    .dsi-title {
        margin-top: 50px;
    }
}
@media(max-width: 350px){
    .dsi-title {
        padding-left: 5px;
    }
    .desc div {
        margin-left: 20px;
    }
}
@media(max-width: 320px){}

